#root {
  margin: 0 auto;
  text-align: center;
}

.app {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.color--positive {
  color: var(--color-green-darker);
}

.color--negative {
  color: var(--color-orange-darker);
}

/**********************************/
/* Responsive Layout              */
/**********************************/
.layout--desktop {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.layout--mobile {
  background-color: var(--color-green-bg);
  padding: 1rem;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

/**********************************/
/* Menu                           */
/**********************************/
.menu {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  padding: 1rem 1rem 0 1rem;
  width: var(--width-sidebar);
}

.menu__header,
.menu__content,
.menu__footer {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.menu__header {
  .menu__link {
    text-decoration: none;
    color: var(--color-green-darker);
  }
}

.menu__content {
  border-top: 1px solid var(--color-green-darker);
  border-bottom: 1px solid var(--color-green-darker);
}

.menu__title {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--color-green-darker);
}

.menu__link {
  padding: 0.5rem;
  border: none;
  font-size: 1rem;
  text-align: left;
  color: var(--color-black);
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.menu__link--active {
  color: var(--color-green-darker);
}

.menu__text {
  border: none;
  font-size: 1rem;
  background-color: transparent;
  font-weight: bold;
  cursor: pointer;
  color: inherit;
}

/**********************************/
/* Main Content                  */
/**********************************/
.layout__contents {
  margin: 1rem 1rem 1rem 0;
  padding: 1rem;
  width: calc(100% - var(--width-sidebar));
  height: calc(100vh - 2rem);
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  background-color: var(--color-green-bg);
  border-radius: 1rem;
}

.layout__contents h2 {
  text-align: left;
  font-size: 2rem;
}

.layout__contents::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.contents {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.content {
  background-color: var(--color-white);
  padding: 1rem;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.content__title {
  text-align: left;
  font-size: 1.5rem;
  font-weight: Bold;
}

/**********************************/
/* バーグラフ                       */
/**********************************/
.bar {
  display: flex;
  gap: 2rem;
  align-items: flex-end;
}

.bar__month {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.bar__month-label {
  text-align: center;
}

.bar__month-container {
  display: flex;
  justify-content: center;
}

.bar__button {
  border: none;
  padding: 0.2rem;
  border-radius: 0.5rem;
  min-height: 3rem;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  cursor: pointer;
  background-color: transparent;
}

.bar__button:hover {
  outline: 2px dotted var(--color-green-dark);
}

.bar__button--selected,
.bar__button--selected:hover {
  outline: 2px solid var(--color-green-dark);
}

.bar__button--empty {
  background-color: var(--color-gray-light);
  display: flex;
  justify-content: center;
  width: 2rem;
  opacity: 0.3;
}

.bar__button--empty:hover {
  opacity: 0.8;
  outline: none;
}

.bar__rectangle {
  width: 2rem;
}

.bar__rectangle--assets {
  background-color: var(--color-green);
  border-radius: 0.5rem 0.5rem 0 0;
}

.bar__rectangle--liabilities {
  background-color: var(--color-orange);
  border-radius: 0 0 0.5rem 0.5rem;
}

.bar__rectangle--net-worth {
  width: 2rem;
}

.bar__rectangle--net-worth--positive {
  background-color: var(--color-green-darker);
  border-radius: 0.5rem 0.5rem 0 0;
}

.bar__rectangle--net-worth--negative {
  background-color: var(--color-orange-darker);
  border-radius: 0 0 0.5rem 0.5rem;
}

.bar__rectangle--empty {
  background-color: var(--color-gray-light);
  opacity: 0.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/**********************************/
/* 貸借対照表/バランスシート          */
/**********************************/
.balance-sheet {
  width: 100%;
  min-height: 1rem;
  text-align: left;
}

.balance-sheet__header {
  border-radius: 1rem 1rem 0 0;
  padding: 0.5rem 0;
}

.balance-sheet__header-description {
  color: var(--color-gray-dark);
}

.balance-sheet__categories {
  border-radius: 0 0 1rem 1rem;
}

.balance-sheet__row {
  padding: 0.5rem 1rem;
  font-weight: bold;
  display: flex;
  gap: 1rem;
  font-size: 1rem;
}

.balance-sheet__header .balance-sheet__row {
  padding: 0 1rem;
}

.balance-sheet__cell {
  display: block;
  width: 10rem;
  height: 100%;
  font-weight: bold;
  padding: 0.1rem;
}

.balance-sheet__cell--amount {
  text-align: right;
}

.balance-sheet__cell--percent {
  width: 6rem;
  text-align: right;
}

/* editable-form */
.editable-form {
  border-radius: 0.2rem;
  border: 0.5px solid var(--color-gray);
}

.editable-form:hover {
  cursor: pointer;
}

/* 純資産 */
.balance-sheet__net-worth {
  background-color: var(--color-gray-light);
  border-radius: 1rem;
}

/* 資産 */
.assets__header {
  background-color: var(--color-green);
  border-bottom: 1px solid var(--color-black);
}

.assets__categories {
  background-color: var(--color-green-light);
}

.assets__item {
  background-color: var(--color-green-lighter);
}

/* 負債 */
.liabilities__header {
  background-color: var(--color-orange);
}
.liabilities__categories {
  background-color: var(--color-orange-light);
}
.liabilities__item {
  background-color: var(--color-orange-lighter);
}
