#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  padding: 16px;
  background-color: #ffffff;
}

/* スマホ基準で設計し、PCでは幅を制限 */
@media (min-width: 600px) {
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 32px;
  }
}
