:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-green-bg: #deece0; /* 背景 */

  --color-green-darker: #1a8c6b; /* 文字や線グラフ */
  --color-green-dark: #84cc7c; /* 棒グラフ */
  --color-green: #bfecc5; /* バランスシート header */
  --color-green-light: #def9e2; /* バランスシート row */
  --color-green-lighter: #f3fbf4; /* バランスシート item */

  --color-orange-darker: #f46839;
  --color-orange-dark: #e59b82;
  --color-orange: #f8d4c8;
  --color-orange-light: #ffede6;
  --color-orange-lighter: #fffaf8;

  --color-black: #333;
  --color-gray-dark: #565656;
  --color-gray: #9c9c9c;
  --color-gray-light: #f0f0f0;
  --color-gray-lighter: #f5f5f5;
  --color-white: #fff;
  --accent: #ff9800;
  --width-sidebar: 13rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid #ff0099; */
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background: var(--color-white);
  color: var(--color-black);
  font-family: 'Noto Sans JP', 'Helvetica Neue', Arial, sans-serif;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

.hidden-scroll {
  scrollbar-width: none; /* Firefox用 */
  -ms-overflow-style: none; /* IE用 */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera用 */
  }
}
