:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-green-light: #e6f2ef;
  --color-green: #1a8c6b;
  --color-green-dark: #1a8c6b;
  --color-black: #333;
  --color-gray-light: #f5f5f5;
  --color-gray: #9c9c9c;
  --color-gray-dark: #565656;
  --color-white: #fff;
  --accent: #ff9800;
  --width-sidebar: 14rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid #ff0099; */
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background: var(--color-white);
  color: var(--color-black);
  font-family: 'Noto Sans JP', 'Helvetica Neue', Arial, sans-serif;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

.hidden-scroll {
  scrollbar-width: none; /* Firefox用 */
  -ms-overflow-style: none; /* IE用 */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera用 */
  }
}
