.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: var(--color-green);
  color: var(--color-white);
  font-weight: bold;
  padding: 0rem 1.5rem;

  .menu__header,
  .menu__content,
  .menu__footer {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .menu__header {
    h1 {
      font-size: 1.5rem;
    }
  }

  .menu__content {
    flex: 1; /* メニューの高さを均等にする */
    border-top: 1px solid var(--color-light-gray);
    border-bottom: 1px solid var(--color-light-gray);
  }

  .menu__content button,
  .menu__footer button {
    width: 100%;
    padding: 1rem;
    border: none;
    font-size: 1rem;
    text-align: left;
    background-color: var(--color-green);
    color: var(--color-white);
    font-weight: bold;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }
}

/* Mobile specific styles */
@media (max-width: 600px) {
  .menu {
    height: 100vh;
  }

  .menu__header {
    padding: 1.5rem 1rem;
  }

  .menu__content {
    padding: 1rem;
  }

  .menu__footer {
    padding: 1rem;
  }
}
